@{
    ViewData["Title"] = "Blog";
}

<section id="welcome">
    <div class="intro-section">
        <div class="banner">
            <div class="text-banner">
                <h2>Fique por dentro das principais novidades do mundo Pet</h2>
            </div>
        </div>
        <div class="grid">
            <div class="grid-content">
                <div class="grid-text">
                    <div class="blog-title">
                        <h3>Maus tratos a cães e gatos podem render até cinco anos de cadeia</h3>
                    </div>
                    <div class="blog-content">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa dolore dignissimos iure,
                            voluptatibus corporis impedit amet, porro, ab hic consectetur ipsam alias sapiente?
                            Adipisci, repudiandae natus? Neque officiis iste debitis!
                        </p>
                    </div>
                    <div class="grid-img">
                        <figure>
                            <img src="~/assets/noticia_3.jpeg" />
                        </figure>
                    </div>
                </div>
            </div>
            <div class="grid-content">
                <div class="grid-text">
                    <div class="blog-title">
                        <h3>EUA e Rússia dão largada à imunização de animais contra a Covid-19
                        </h3>
                    </div>
                    <div class="blog-content">
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus a laboriosam non
                            deserunt, possimus nobis quos sunt accusantium optio dignissimos natus maiores, nisi
                            reprehenderit aspernatur facere vitae fuga obcaecati consectetur!
                        </p>
                    </div>
                    <div class="grid-img">
                        <figure>
                            <img src="~/assets/noticia_2.jpg" />
                        </figure>
                    </div>
                </div>
            </div>
            <div class="grid-content">
                <div class="grid-text">
                    <div class="blog-title">
                        <h3>Pandemia impulsiona influenciadores e conteúdos para pets nas redes</h3>
                    </div>
                    <div class="blog-content">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, deserunt alias
                            dignissimos
                            sapiente saepe maxime vitae numquam mollitia accusantium autem itaque quidem, dolorum ab
                            fugit, inventore hic non eaque quod?
                        </p>
                    </div>
                    <div class="grid-img">
                        <img src="~/assets/noticia_1.jpg" />
                    </div>
                </div>
            </div>
        </div>
</section>
<script src="~/js/responsive.js"></script>
</section>
