@{
    ViewData["Title"] = "Catalogo";
}

<section>
    <div class="catalogo-section">
        <div class="text-banner">
            <h2>Conheça nossos produtos disponíveis na loja</h2>
        </div>
        <div class="grid">
            <div class="product_gallery">
                <span onclick="left_mover()" class="prev">&#10094;</span>
                <span onclick="right_mover()" class="next">&#10095;</span>
                <div class="product">
                    <div class="product-photo">
                        <img class="shop_category" src="~/assets/clothes.png" alt="roupas para animais">
                    </div>
                    <div class="product-description">
                        Roupas
                    </div>
                </div>
                <div class="product">
                    <div class="product-photo">
                        <img src="~/assets/bagfood.png" alt="pacote de ração" class="shop_category">
                    </div>
                    <div class="product-description">
                        Ração
                    </div>
                </div>
                <div class="product">
                    <div class="product-photo">
                        <img class="shop_category" src="~/assets/toys.png" alt="brinquedos para animais">
                    </div>
                    <div class="product-description">
                        Brinquedos
                    </div>
                </div>
                <div class="product">
                    <div class="product-photo">
                        <img class="shop_category" src="~/assets/shamppo.png" alt="shampoo para animais">
                    </div>
                    <div class="product-description">
                        Higiene e Limpeza
                    </div>
                </div>
                <div class="product">
                    <div class="product-photo">
                        <img class="shop_category" src="~/assets/clothes.png" alt="roupas para animais">
                    </div>
                    <div class="product-description">
                        Roupas
                    </div>
                </div>
                <div class="product">
                    <div class="product-photo">
                        <img src="~/assets/bagfood.png" alt="pacote de ração" class="shop_category">
                    </div>
                    <div class="product-description">
                        Ração
                    </div>
                </div>
                <div class="product">
                    <div class="product-photo">
                        <img class="shop_category" src="~/assets/toys.png" alt="brinquedos para animais">
                    </div>
                    <div class="product-description">
                        Brinquedos
                    </div>
                </div>
                <div class="product">
                    <div class="product-photo">
                        <img class="shop_category" src="~/assets/shamppo.png" alt="shampoo para animais">
                    </div>
                    <div class="product-description">
                        Higiene e Limpeza
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="service-section">
        <div class="service-catalogo">
            <h2>Confira nossos serviços</h2>
        </div>
        <div class="grid-services">
            <div class="service">
                <div class="service-photo">
                    <img src="~/assets/banho.png" />
                </div>
                <div class="product-description">
                    Banho e Tosa
                </div>
            </div>
            <div class="service">
                <div class="service-photo">
                    <img src="~/assets/acessorios.png" />
                </div>
                <div class="product-description">
                    Petshop
                </div>
            </div>
            <div class="service">
                <div class="service-photo">
                    <img src="~/assets/consulta.png" />
                </div>
                <div class="product-description">
                    Consulta
                </div>
            </div>
            <div class="service">
                <div class="service-photo">
                    <img src="~/assets/internamento.png" />
                </div>
                <div class="product-description">
                    Internamento
                </div>
            </div>
        </div>

    </div>
</section>
@section Scripts{
<script src="~/js/responsive.js"></script>
<script src="~/js/owl-caroussel.js"></script>
}
</section>
